<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <conversionRule conversionWord="bp" converterClass="com.rent.config.log.BusinessParameterConverter"/>

    <!-- 读取spring配置信息 -->
    <springProperty scope="context" name="SPRING_LOG_PATH" source="logging.path"/>
    <springProperty scope="context" name="SPRING_APPLICATION_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="FILE_MAX_SIZE" source="logging.file.max.size"/>
    <springProperty scope="context" name="FILE_MAX_HISTORY" source="logging.file.max.history"/>

    <property name="LOG_PATH" value="${SPRING_LOG_PATH:-./logs}"/>
    <property name="LOG_FILE_MAX_SIZE" value="${FILE_MAX_SIZE:-100MB}"/>
    <property name="LOG_FILE_MAX_HISTORY" value="${FILE_MAX_HISTORY:-90}"/>
    <property name="APPLICATION_NAME" value="${SPRING_APPLICATION_NAME:-hzsxRent}"/>

    <!--管理台打印日志格式-->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr([%t]){faint} %clr(%logger{39}){cyan}%clr(:){faint}%bp %m%n"/>

    <!--文件输出时日志格式-->
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %logger{39}:%bp %m%n"/>

    <!--管理台日志appender-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--全量日志输入文件存储-->
    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="io.lettuce.core" level="INFO"/>
    <logger name="io.lettuce.core" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_ALL"/>
    </root>

    <logger name="com.rent" level="INFO"/>
<!--    <logger name="com.rent" level="DEBUG"/>-->
    <logger name="org.apache" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.quartz" level="INFO"/>
</configuration>