<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        .layout{
            font-family: SimHei;
        }
    </style>
    <title>协议</title>
</head>
<body>
<div class="layout">
    <h1 style="text-align: center;">租赁服务协议</h1>
    <p style="font-weight:bold">甲方（商家）：<span th:text="${shopName}"></span></p>
    <p>甲方地址：<span th:text="${shopAddress}"></span></p>

    <p style="font-weight:bold">乙方（租户）：<span th:text="${userName}"></span></p>
    <p>乙方身份证号：<span th:text="${idNo}"></span></p>
    <p>乙方地址：<span th:text="${receiveAddress}"></span></p>
    <p>乙方电话：<span th:text="${telephone}"></span></p>
    <p>乙方租用产品：<span th:text="${productName}"></span></p>

    <p style="font-weight:bold">丙方（平台）：<span th:text="${platformName}"></span></p>
    <p>丙方地址：<span th:text="${platformAddress}"></span></p>

    <p style="font-weight:bold">甲乙丙三方关系说明：</p>
    <p>【甲方】系指通过平台进驻成为租赁商的商家，自愿签署《租赁服务协议》，且已阅览并同意本协议所有条款，认可本协议的法律效力。</p>
    <p>【乙方】系指同意本协议条款并通过平台下单租用甲方产品的租赁用户。</p>
    <p>【丙方】系指<span th:text="${platform}"></span>平台（本协议简称“平台”），即由<span th:text="${platformName}"></span>为甲乙双方提供技术和服务支持的在线交易平台，其只负责为本协议项下的租赁服务提供网络交易平台、系统支持及信息技术支持等服务，<span th:text="${platform}"></span>平台与平台商家系独立的法律主体/民事主体，不承担您与平台商家之间因本次租赁服务而产生的任何责任。</p>
    
    <p style="font-weight:bold">特别提醒：</p>

    <p style="font-weight:bold">1、在此特别提示您阅读本协议的各个条款，尤其是以粗体并下划线标示的条款，包括第【十一】条失信客户的处理及违约责任（包含失信认定、失信处置、租转售条款等）、第【十四】条争议解决条款、第【十五】条证据保全（区块链存证）、 第【十六】条通知和送达条款等可能限制或影响乙方责任的相应条款。如乙方勾选 “我同意《租赁服务协议》”后，即视为乙方已阅读并同意本协议所有条款，且并对本协议条款的含义及相应的法律后果已全部通晓并充分理解，同意接受本协议的约束。</p>

    <p style="font-weight:bold">2、乙方确认并承诺：乙方已明确知晓乙方登陆<span th:text="${platform}"></span>平台前已同意授权<span th:text="${platform}"></span>获取乙方的支付宝账号信息，使用该支付宝账号在<span th:text="${platform}"></span>平台进行的任意行为均视为乙方本人的行为（包括但不限于签署本协议、申请免押等行为），乙方对上述行为承担一切责任及法律后果。如果乙方不同意本协议的任意内容，或者无法准确理解本协议相关条款，请不要进行后续操作。如乙方对本协议有任何疑问，请致电平台官方客服电话（<span th:text="${platformContactTelephone}"></span>）进行咨询，<span th:text="${platform}"></span>客服将竭诚为您服务并作出解释。</p>

    <p style="font-weight:bold">本协议签署地默认为<span th:text="${signAddress}"></span>，合同履行过程中发生的争议的，任何一方可向甲方所在地有管辖权的人民法院或丙方所在地有管辖权的人民法院提起诉讼。</p>

    <p style="font-weight:bold">第一条 关于设备</p>
    <p>1.1 租赁订单的设备详细信息如下</p>
    <p>订单编号：<span th:text="${orderId}"></span></p>
    <p>收货人姓名：<span th:text="${reciveName}"></span></p>
    <p>联系电话：<span th:text="${telephone}"></span></p>
    <p>收货城市：<span th:text="${receiveCity}"></span></p>
    <p>送达地址：<span th:text="${receiveAddress}"></span></p>
    <p>商品名称：<span th:text="${productName}"></span></p>
    <p>规格颜色：<span th:text="${skuTitle}"></span></p>
    <p>设备数量：1（件）</p>
    <p>总租期：<span th:text="${totalPeriod}"></span></p>
    <p>总租金：<span th:text="${totalRent}"></span></p>
    <p th:each="stage:${stageList}">
        <span th:text="${stage}"></span>
    </p>
    <p>销售价：<span th:text="${salePrice}"></span></p>
    <p>到期买断价：<span th:text="${buyOutPrice}"></span></p>

    <p>若上述信息与甲方或<span th:text="${platform}"></span>（丙方）运营后台订单详情页记载内容不一致， 以甲方或<span th:text="${platform}"></span>运营后台订单详情页记载的内容为准。其他信息，以下单页面为准。</p>

    <p style="font-weight: bold;">租金缴交日期：租户每月付款日为租户订单下单日所对应的自然日（若下单日为29日、30日或31日，但租户在租金付款当月无前述日期，则该月租户的付款日为该月最后一日）</p>
    <p>1.2 乙方在租用设备下单前应当向甲方及丙方提供自己的身份证真实姓名和身份证号码以及手机号码，同时还应当提供租赁设备准确的邮寄送达地址及联系方式（包括但不限于手机号码、微信号、邮箱、QQ等）。乙方提供的身份证住址与邮寄送达地址不一致的，以乙方下单时或发货时确认的邮寄送达地址为乙方确认的收货地址。在租赁期限内，乙方地址及联系方式变更时应及时通知甲方和丙方，否则由此导致租赁设备无法送达或丢失、电话信息失联等一切损失均由乙方承担。</p>
    <p>1.3 乙方在租用设备过程中，需确保设备完好，未经甲方同意，不得私自拆卸、私自升级系统或软件服务，否则视为违约，甲方有权要求乙方按照本协议约定承担违约责任并对租用设备进行买断。</p>

    <p style="font-weight:bold">1.4 特别说明：</p>
    <p>（1）本网站、小程序的商品或服务信息随时都有可能发生变动，小程序、H5等页面中的文字表述、图片效果可能被实时修改和调整，对于此类变化和调整，甲方可能将不作特别通知。本网站、小程序内展示的标的物规格参数、功能说明、零部件信息、已租数量等商品信息将尽可能准确、详细并与实际产品信息相匹配，但由于网站、小程序上商品信息的数量极其庞大，且受互联网技术发展水平（如缓存延时等）、产品批次和生产供应实时变化等因素的限制，本网站、小程序、H5页面等不排除部分信息会存在滞后或差错的可能性。乙方确认：对此情形您表示知悉并理解，并同意不追究甲方及丙方的相关责任。</p>
    <p>（2）本网站、小程序由甲方对商品进行明码标价，但乙方应当了解并同意，甲方的商品价格信息随时都有可能发生变动，因此商品成交价格须以乙方您提交订 单结算时的价格为准。同时，尽管甲方会尽最大努力确保本网站、小程序内商品价格的准确性，但仍然可能出现部分商品标价错误的情形,对于明显错误标价的商品，甲方保留不予确认或取消相应订单的权利。</p>


    <p style="font-weight:bold">第二条 租金和押金</p>
    <p>2.1 产品租金及押金由甲方自主确定，乙方在下单时，由丙方代收相应租金、押金。</p>
    <p style="font-weight:bold">2.2 丙方根据乙方信用资质授予免押金额度，乙方租赁设备所需押金在免押金额度范围内的，不需要支付押金；超出部分，应支付押金。甲乙双方未确认发货前，丙方有权依据其自身风险控制系统决定变更免押金的额度，但必须经过甲乙双方同意订单才生效。</p>
    <p>2.3 租赁期限届满，乙方应及时将设备归还甲方，甲方在收到设备后经检测确认无损坏，并且乙方在甲方处无任何未结清款项的情况下，应当在3个工作日通知丙方退还押金，丙方在收到甲方的通知之日起1个工作日内代为向乙方退还押金，若押金在甲方处的，则由甲方自行退还，如遇节假日则顺延。</p>
    <p>2.4 甲方产品租金收取方式分两种：一期及多期。乙方提交订单时需支付至少一期租金。丙方在下一个交租周期自动从乙方的注册账户中扣除下一期租金。甲乙双方未确认发货前，甲方有权决定预收几期租金，但须经过乙方同意订单才生效。乙方应保证在租金付款日账户中有足够金额，以免造成租金支付逾期。</p>
    <p style="font-weight: bold;">2.5 乙方应当按时足额支付租金，否则，甲方可直接向丙方申请扣除乙方部分或全部押金，用以抵扣逾期租金或本协议第11.4条约定的买断款。</p>
    <p>2.6 租赁期间正常设备折旧，设备自然产生的硬件故障由甲方免费更换，软件问题由甲方协助。因人为损坏，拆解，划痕等问题导致维修的，乙方应承担配件成本和维修费用，维修期间的租期费用继续计算。如设备无法修复或修复价格远远超过设备本身价值或设备丢失的，乙方应当按本协议第11.4条的约定向甲方买断该设备。</p>
    <p>2.7 设备使用过程中因软件造成设备不能使用的问题不包含在租赁服务中，但可要求甲方协助解决。</p>

    <p style="font-weight: bold;">第三条 关于订单取消、租期计算和提前归还</p>
    <p style="font-weight:bold">3.1 由于租赁设备档期原因，发货后非设备质量问题不支持退货。</p>
    <p>3.2 租期自乙方签收快递派单当天起算或甲方上门送货安装当天起算至设备归还甲方并由甲方检测合格之日止。</p>
    <p style="font-weight:bold;text-decoration:underline;">3.3 除非甲方设备介绍页面约定可随借随还，否则乙方不能提前归还。乙方擅自提前归还设备，来回运费均由乙方承担，且应按以下标准向甲方支付违约金 ： </p>
    <p style="font-weight:bold;text-decoration:underline;">3.3.1 二手设备赔付标准如下：</p>
    <p style="font-weight:bold;text-decoration:underline;">（1）总租期在6个月以上,乙方须支付1个月租金作为违约金；</p>
    <p style="font-weight:bold;text-decoration:underline;">（2）总租期在3个月-6个月以内的，乙方须支付15天租金作为违约金； </p>
    <p style="font-weight:bold;text-decoration:underline;">（3）总租期在3个月以内（含3个月）的，乙方须支付7天租金作为违约金。</p>
    <p style="font-weight:bold;text-decoration:underline;">3.3.2 全新设备赔付标准：</p>
    <p style="font-weight:bold;text-decoration:underline;"> “固定租期”租赁方式的订单，乙方须待租赁期满后才能退还；若乙方提前退还设备，甲方将收取剩余租赁期租金的50%作为服务费。</p>
    <p style="font-weight:bold;text-decoration:underline;">3.3.3 定制产品赔付标准：</p>
    <p style="font-weight:bold;text-decoration:underline;">乙方定制的产品，乙方须待租赁期满后才能退还；若乙方提前退还设备，甲方将收取剩余租赁期租金的50%作为服务费。</p>
    <p>3.4 如遇甲方缺货，甲方有权单独解除本协议并取消订单，乙方已支付的租金原路退还，且甲方不承担任何违约责任。</p>

    <p style="font-weight:bold">第四条 续租</p>
    <p>4.1 租赁期限届满后，乙方需要续租的，可以申请续租即在“我的订单”找到租用中的设备，进入订单详情页，点击续租按钮，甲方同意后，乙方继续按原租赁协议约定标准及期限支付租金，无需另行支付押金。乙方续租的，本协议继续有效至展期届满。</p>

    <p style="font-weight:bold">第五条 支付方式</p>
    <p>5.1 丙方提供支付宝、储蓄卡、信用卡、芝麻信用授权等支付方式。</p>

    <p style="font-weight:bold">第六条 订单审核</p>
    <p>6.1 订单支付成功后，丙方对乙方订单信息进行评估，若丙方判定乙方风险系数较高，丙方有权让乙方补交押金或补信用授权，订单未补交押金或担保物的，将直接关闭，已经支付的款项原路退还乙方。如甲方及丙方识别到乙方为未成年人，丙方有权直接关闭订单，已经支付的款项原路退还乙方。</p>
    <p style="font-weight:bold">6.2 在订单审核过程中，若丙方依据自身风险控制系统判定乙方风险系数较高时，甲方或丙方在征得乙方同意的前提下，甲方及丙方可向乙方预收一期或多期租金（具体扣款期数由甲方（或授权丙方）与乙方自行协商）；租金成功扣除后，若乙方对预收租金金额、对应的预收期数等有异议的，应在1个工作日内向丙方提出，逾期未提出则视为乙方对预收租金的认可。</p>

    <p style="font-weight:bold">第七条 发票开取</p>
    <p>7.1 发票由甲方提供，开取发票必须符合税法的规定。乙方需开取发票的，开票前需主动联系甲方，然后在下单时一并填写开票所需详细资料。开票内容为“租赁服务费”，类型为增值税普通发票或增值税专用票，乙方可在下单页面标注所需的发票类型。</p>
    <p>7.2 乙方需开具发票的，应下单成功且收到租赁设备后向甲方申请开具，如需纸质发票，可自行前往甲方领取或要求甲方邮寄，邮寄费用由乙方承担。</p>
    <p>7.3 发票开具后，如因乙方原因取消订单，乙方应归还发票原件并承担甲方由此支出的税费，同时须按本协议约定承担违约责任。</p>

    <p style="font-weight:bold">第八条 甲方的权利与义务</p>
    <p>8.1 甲方在租赁期间拥有租赁设备的所有权，因乙方违约导致甲乙双方转化为买卖关系的，乙方付清全部设备款前，甲方保留设备的所有权。</p>
    <p>8.2 甲方有权按租赁协议收取相应的租金等款项。</p>
    <p>8.3 甲方应当对设备硬件的自然故障提供更换或维修的服务。</p>
    <p>8.4 甲方应当向乙方交付运行正常的设备，保证设备配置和乙方在订单中标明的一致。</p>
    <p>8.5 甲方负责乙方归还设备检测并有权在乙方违约时进行追偿。同时，对乙方交还或寄回租赁物内的遗留物件、软件或信息等，甲方不承担保管责任。</p>
    <p style="font-weight:bold">8.6 当乙方逾期不缴纳租金时，甲方有权停止为乙方提供租后服务、收回租赁设备或按协议第11.3条、第11.4条的约定要求乙方买断设备并要求乙方承担相应的违约责任。</p>
    <p>8.7 对于非甲方生产的租赁商品，乙方在使用过程中造成人身损害、财产损失的，除非证明甲方对于商品造成的损害事故有故意或重大过失，甲方不承担责任。</p>
    <p style="font-weight:bold">8.8 甲方向乙方交付租赁设备，于设备交付第一承运人时完成。租赁设备毁损、灭失的风险自甲方交付第一承运人（快递公司）时转移至乙方。</p>
    <p style="font-weight:bold">8.9 甲方有权将本协议中出租人的全部权利以及本协议项下乙方的全部权利义务转移给第三方享有并行使。乙方确认，因履行本协议所产生的纠纷，第三方有权基于甲方的授权，通过本协议约定的方式解决纠纷。</p>

    <p style="font-weight:bold">第九条 乙方权利与义务</p>
    <p>9.1 乙方在租赁期间拥有租赁设备的合法使用权。</p>
    <p>9.2 按租赁协议之约定按时、足额向甲方支付租金。</p>
    <p>9.3 在租期结束时，按甲方要求主动归还租赁设备。</p>
    <p style="font-weight:bold">9.4 不得买卖、抵押、质押、转租设备，不得擅自变动、修理、拆卸、更改租赁设备硬件任何部件，特殊情况需第一时间向平台以及商家告知征得明确同意。</p>
    <p>9.5 因不当使用造成租赁设备、故意或过失造成设备损坏的，乙方应承担赔偿、修理等相应责任。</p>
    <p>9.6 乙方使用租赁设备时应遵守相关法律、法规，不得利用租赁设备从事违法犯罪活动，不得利用租赁设备侵害他人合法权益；因乙方违规使用租赁设备所产生的一切法律纠纷及法律责任由乙方自行解决、承担；因乙方原因导致租赁设备被监管部门查封、冻结、扣押的，乙方仍需按照合同约定缴纳租金，合同期满后乙方无法按照约定归还设备的，乙方须向甲方支付买断款买断租赁设备。</p>

    <p style="font-weight:bold">第十条 丙方权利与义务</p>
    <p>10.1 丙方对乙方提交申请租赁的信用信息有知情权并有权合法使用该信息进行风控评估，丙方承诺不泄露乙方在丙方留存的资料信息。但出现本协议第12.3条约定的情形除外。</p>
    <p>10.2 乙方在使用租赁商品过程中造成人身损害、财产损失的，除乙方能证明丙 方知道甲方提供的商品和服务不符合人身、财产安全要求，且未采取必要措施 ，否则，丙方对乙方的损害和损失不承担任何责任。</p>
    <p>10.3 丙方有权对甲方提供的租赁服务负有监督的义务，并及时处理乙方的投诉。</p>

    <p style="font-weight:bold">第十一条 失信客户的处理及违约责任</p>
    <p>11.1 乙方出现以下情况之一的，将被认定为严重失信客户：</p>
    <p>（1）逾期7个自然日不支付设备租金或买断款的；</p>
    <p>（2）租赁期满拒不归还租赁设备或归还的租赁设备不合格的；</p>
    <p>（3）归还的设备严重损坏，但拒不偿付维修费用及检测费用的；</p>
    <p style="font-weight:bold">11.2 对于被列入失信客户名单的乙方，甲方及丙方有权利采取包括但不限于以下的措施：</p>
    <p style="font-weight:bold">（1）将乙方违约信息及相应负责人个人信息在丙方的平台上公布。</p>
    <p style="font-weight:bold">（2）有权将违约信息反馈给依法设立的征信机构（包括但不限于芝麻信用管理有限公司），乙方应了解上述违约信息可能影响乙方在征信机构处的信用状况，并可能影响其申请或办理相关服务。</p>
    <p style="font-weight:bold">（3）向公安机关报案。</p>
    <p style="font-weight:bold">（4）向法院起诉。</p>
    <p style="font-weight:bold">（5）通过发送短信、拨打电话、邮寄函件、委托第三方进行上门取回设备等形式对乙方进行催缴。</p>
    <p style="font-weight:bold">（6）向支付宝公司申请冻结乙方名下的支付宝账户。</p>
    <p style="font-weight:bold;text-decoration:underline;">11.3 乙方同意在下列情形发生时，甲方和乙方之间的租赁服务关系自动转为买卖关系，乙方同意无条件支付买断款买断本协议租赁设备：</p>
    <p style="font-weight:bold;text-decoration:underline;">（1）租赁设备在租赁期间遗失、灭失、报废、实质性损坏或乙方自行更换设备主体部分等，使得租赁设备无法归还甲方。</p>
    <p style="font-weight:bold;text-decoration:underline;">（2）乙方租赁物退还时，经甲方检测，乙方未注销、解除该租赁物中账户密码，乙方在甲方提示的7日内未及时注销、解除该账号密码，且乙方未按甲方要求的赔偿金额进行赔付的；</p>
    <p style="font-weight:bold;text-decoration:underline;">（3）因乙方原因导致设备在租赁期间遭到损坏程度超过免赔范围，且乙方拒绝支付相应维修费用；</p>
    <p style="font-weight:bold;text-decoration:underline;">（4）租赁期限届满后，乙方未归还设备且未申请续租超过7个自然日；</p>
    <p style="font-weight:bold;text-decoration:underline;">（5）租赁期间乙方逾期支付租金超过7个自然日的；</p>
    <p style="font-weight:bold;text-decoration:underline;">（6）乙方失联超过 7个自然日，甲方或丙方通过乙方留存在甲方或丙方处的所有联系方式都无法与乙方取得联系或乙方拒绝回复的。</p>
    <p style="font-weight:bold;text-decoration:underline;">11.4 在乙方失信的情况下，自乙方收到甲方或丙方的书面通知之日起七日内应当向甲方或通过<span th:text="${platform}"></span>平台（丙方）支付买断款。买断款的计算方法如下：</p>
    <p style="font-weight:bold;text-decoration:underline;">（1）买断款=销售价-已付租金。</p>
    <p style="font-weight:bold;text-decoration:underline;">“销售价”详见本协议第1.1条；“已付租金”详见甲方和丙方运营后台的账单信息或乙方（用户端）的账单详情。</p>
    <!-- <p>11.5 乙方在租赁期限届满后未及时归还设备的，甲方有权继续按协 议约定收取以月租金 x0.05%/天向乙方收取违约金，违约金总额≤租赁商品官方价*124%*50%。若乙方逾 期归还设备超过 7 天的，甲方可直接向丙方申请扣除乙方全部押金， 并要求乙方买断租赁设备。</p>
    <p>11.6 本协议签订后，乙方逾期支付租金或者买断款等任一笔款项的，每逾期一日应按逾期租金*逾期天数*日利率*150% （日利率：0.0006）的标准向甲方支付违约金至全部款项清偿完毕之日止。违约金总额≤租赁商品官方价*124%*50%。</p>
    <p>11.7 乙方擅自提前归还设备的，需按照本协议约定支付已使用期间的租金，并按照租赁设备总租金的30%向甲方支付违约金。</p> -->

    <p style="font-weight:bold">第十二条  隐私政策及信息保护</p>
    <p>12.1 本协议所指的“隐私”包括《电信和互联网用户个人信息保护规定》第4条规定的用户个人信息的内容以及未来不时制定或修订的法律法规中明确规定的隐私应包括的内容。</p>
    <p>12.2 当乙方注册丙方平台个人账户并接受使用平台租赁服务时，乙方须向丙方提供必要个人信息。丙方收集个人信息的目的是为用户提供尽可能多的个人服务以及风险评估，从而更好的为乙方提供免押租赁服务，在此过程中，丙方承诺不会泄露乙方的个人信息。</p>
    <p>12.3 丙方不会在未经合法用户授权时，公开、编辑或透露其个人信息及保存在丙方中的非公开内容，除非有下列情况：</p>
    <p>（1）事先获得用户的明确授权。</p>
    <p>（2）根据有关的法律法规要求。</p>
    <p>（3）按照相关政府主管部门的要求。</p>
    <p>（4）为维护社会公众的利益。</p>
    <p>（5）用户已成为严重失信用户。</p>
    <p>12.4 为提升服务的质量，丙方可能会与第三方机构合作共同向乙方提供相关服务，此类合作可能需要包括但不限于用户数据与第三方用户数据的互通。在此情况下，乙方知晓并同意该第三方机构承担与<span th:text="${platform}"></span>同等的保护用户隐私的责任，则丙方有权将用户的注册资料等提供给该第三方机构，并与第三方机构约定用户数据仅为双方合作之目的使用；并且丙方将对该第三方机构使用用户数据的行为进行监督和管理，尽一切合理努力保护乙方个人信息的安全性。</p>
    <p>12.5 丙方可以向乙方注册的电子邮箱、手机号码发送服务所必须的商业信息。</p>
    <p>12.6 退租时，为保障乙方的隐私及信息安全，乙方须自行妥善处理保存在租赁设备上的数据信息，甲方或丙方收到乙方退还的租赁设备后，经检测发现设备上仍存有乙方个人数据信息的，视为乙方放弃该等数据信息的隐私权利，可以由甲方或丙方经脱敏性操作后商业化使用或直接删除。</p>
    <p>12.7设备退还后，甲方将抹除设备上所有电子数据，将设备还原至出租前的初始状态，甲方无义务保留设备中的相关信息。</p>

    <p style="font-weight:bold">第十三条 协议终止</p>
    <p>13.1 租赁期满，乙方归还设备，经甲方检测并结清所有费用后，该协议终止。</p>
    <p>13.2 如乙方在下单后设备交付前取消订单，经乙方与甲方协商一致，该协议终止。</p>
    <p>13.3 在租赁期内，乙方主动要求提前终止协议，并与甲方达成一致，该协议终止。</p>

    <p style="font-weight:bold">第十四条 争议处理</p>
    <p style="font-weight: bold;">14.1 本协议履行过程中发生争议的，双方应友好协商解决，协商不成的，任何一方可向甲方所在地有管辖权的人民法院或丙方所在地有管辖权的人民法院提起诉讼。守约方为实现债权所产生案件受理费、诉讼保全费、保全担保费、公告费、律师费、差旅行费等一切费用由违约方承担。</p>
    <!-- <p>14.2 在对乙方追索第2.1条、第2.4条、第2.5条、第4.1条以及第12条约定的债权时，为实现债权的便利性，甲方确认将前述债权转让给平台，由平台以自己名义向乙方主张，平台实现债权而产生仲裁费、因使用丙方有管辖权的人民法院服务方提供服务而产生的人员法院服务费、诉讼保全费、公告费、差旅行费等一切费用由乙方承担。债权转让通知由平台通过短信、电子邮件、平台站内信/站内消息、网站公告等方式告知乙方。</p> -->

    <p style="font-weight:bold">第十五条 证据保存</p>
    <p>本《电子签约效力确认协议》（简称“本协议”）是由您（<span th:text="${userName}"></span>）与<span th:text="${platformName}"></span>（简称“本公司”）签署，本公司系<span th:text="${platform}"></span>平台（以下简称“本平台”、“平台”）的运营方。请您在通过本平台使用电子签名服务前，请您务必认真阅读并充分理解本协议的全部内容，您通过网络页面点击、勾选或以其他方式选择接受本协议，如您不同意本协议的内容，或无法准确理解本协议任何条款的含义，请不要进行确认及后续操作。一旦确认即视为您同意本协议的全部内容。如果您对本协议有疑问的，请通过<span th:text="${platformContactTelephone}"></span>进行询问，其将向您解释。</p>
    <p>15.1 您授权并同意，平台可将本人的身份信息资料提交给第三方电子签名机构以及第三方CA认证机构，用于平台及第三方电子签名服务平台账户注册、账户管理、实名认证、数字证书申请、电子签约等电子签名服务目的。</p>
    <p>15.2 您同意本平台采用电子合同的方式在本平台与您订立协议，该协议可以有一份或者多份并且每一份具有同等法律效力。您根据有关协议及本网站的相关规则在本网站确认签署的电子合同即视为您本人真实意愿并以您本人名义签署的合同，具有法律效力。</p>
    <p>15.3 本人在此不可撤销的授权，平台可通过以下方式接受来自本人的签约指令：本人通过平台向第三方电子签名服务平台申请实名认证时提供的本人手机号向平台发送的信息（验证码、短信或电话等）回复，或通过本人的账号及密码登录平台后确认所签署的电子合同，或本人在平台上对电子签名的其他签约调用请求。平台可基于本人的签约指令，以您本人的名义，向第三方电子签名服务机构申请由CA机构生成的数字证书，并协助您在本平台调用您的电子签章完成与 服务相关协议实质内容相同的电子文件的签署，本人认可通过上述方式签署电子合同对各方具有法律约束力，本人承诺对平台执行上述指令产生的全部负责。 </p>
    <p>15.4 您应妥善保管自己的账户密码以及手机验证码等账户信息，如因账户密码或手机验证码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务的，本人愿意承担因此产生的所有责任，并放弃追究我司或我司委托的第三方合作机构以及CA机构法律责任的权利。</p>
    <p>15.5 以上授权期限自本人在平台的业务终止或本人书面通知终止授权之日止。</p>
    <p>15.6 您认可您在签订电子合同过程中提交的实名认证资料，并认可因上述操作产生的电子证据；若因合同履行产生纠纷，您认可本协议签订过程中产生的电子证据可直接作为纠纷处理依据。</p>
    <p>15.7 双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均可向甲方所在地有管辖权的人民法院或丙方所在地有管辖权的人民法院提起诉讼。</p>


    <p style="font-weight:bold">第十六条 自动签方案</p>
    <p>16.1 您理解并同意，双方将通过电子签名方式进行合同签署。您应当根据实名流程要求向我们提交个人或企业认证必须提供的最新、真实、准确及完整的信息及资料（包括但不限于名称/姓名、企业营业执照照片/身份证照片、社会统一信用代码/身份证号、手机号、银行卡号、面部识别特征及其他信息/资料），同意我们将可您的个人身份信息或单位信息传输至第三方认证服务机构以核验您的身份，并传输至我们合作的电子签名服务平台及CA机构用于账号注册、开通、申请数字证书及文件签署。</p>
    <p>16.2 我们将通过以下方式接受来自您的指令：通过您申请实名认证时提供的手机号码完成意愿校验，或您在平台上完成人脸识别意愿校验，或您通过您的账号及密码登录平台后的操作，或您在平台上其他对电子签名服务的签约调用请求。我方将基于您的指令，向第三方电子合同服务平台传输签约指令，并调用您在效期限内的数字证书用于签署电子文件。您通过上述方式向我们发出指令均不可撤回或撤销，视为您本人的指令，且成为我们向您提供电子签名服务的有效指令，您应当对我方执行上述指令产生的结果自行承担责任。对于因您账号、密码、身份信息的泄露或产品/设备遗失或因您未安全退出账号导致的损失，由您自行承担。</p>
    <p>16.3 由于涉及客户平台信息的对外提供/共享，建议在客户平台隐私政策中体现电子牵对用户信息的处理及电子牵相关平台协议链接，建议添加的内容如下：</p>
    <p>产品名称：电子牵；涉及个人信息：名称/姓名、企业营业执照照片/身份证照片、社会统一信用代码/身份证号、手机号、银行卡号、面部识别特征及其他信息/资料；使用目的：实名认证、申请数字证书、电子文件签署；使用场景：实名认证、使用电子签名签署文件；合作方：北京矩阵分解科技有限公司；平台规则：<a href="https://www.letsign.com/resource/public_doc/%E7%94%B5%E5%AD%90%E7%89%B5%E6%9C%8D%E5%8A%A1%E5%8D%8F%E8%AE%AE%E4%B8%8E%E6%95%B0%E5%AD%97%E8%AF%81%E4%B9%A6%E7%94%B3%E8%AF%B7%E5%8D%8F%E8%AE%AE.html?v=211216">电子牵服务协议及数字证书申请协议</a>、<a href="https://www.letsign.com/resource/public_doc/%E7%94%B5%E5%AD%90%E7%89%B5%E9%9A%90%E7%A7%81%E6%94%BF%E7%AD%96.html?v=211216">隐私政策</a>、<a href="https://www.letsign.com/resource/public_doc/%E4%BA%BA%E8%84%B8%E4%BF%A1%E6%81%AF%E5%A4%84%E7%90%86%E8%A7%84%E5%88%99.html?v=211216">人脸信息处理规则</a></p>

    <p style="font-weight:bold">第十七条 通知及送达</p>
    <p>17.1 本合同履行过程中，甲方或丙方发送给乙方的书面通知，以邮寄送达的，按照乙方在丙方填写的送达地址或乙方的注册地址、户籍地址为准（乙方为自然人时）。自书面通知交邮后的第三个自然日视为送达。书面通知的的形式还包括但不限于甲方或丙方采用平台公告、平台站内信息、APP 弹窗推送、发送电子邮件、手机短信、电话、钉钉、微信等现代化电子通讯方式，在采用上述电子方式进行书面通知的情况下发送当日，即视为送达。</p>
    <p>17.2 甲方或丙方有权决定以前述任何一种或几种形式书面通知乙方。甲方以多种方式向乙方发送通知的，通知送达时间以最先送达的为准。</p>
    <p>17.3 甲乙双方一致同意，对于本合同引起的任何纠纷，甲乙双方任一方在司法程序中同意司法机关采用电子邮件、手机短信、电话、钉钉、微信等现代化电子通讯方式送达法律文书（包含民事判决书、民事调解书等诉讼文书）。</p>
    <p>17.4 甲乙双方指定接收法律文书的手机号码、电子邮箱、邮寄送达地址默认为甲方、乙方在丙方平台注册时及下单时所填写的电话号码、电子邮箱和邮寄送达地址。</p>
    <p>17.5 甲乙双方确认上述电子送达方式、邮寄送达地址适用于各个司法阶段，如一审、二审、再审、执行以及督促程序。</p>
    <p>17.6 如果甲乙双方上述送达地址有变更，本人应当及时告知丙方和司法机关变更后的送达地址。</p>
    <p>17.7 甲方和乙方承诺，已完全阅读所有条款，并保证上述送达地址是准确的、有效的；如果提供的送达地址不准确，或不及时告知变更后的地址，使法律文书无法送达或未及时送达，由甲方和乙方自行承担由此产生的一切法律后果。</p>
    <p>17.8 若发生纠纷（包括但不限于未按期缴交租金、租赁到期产品退回后发现严重破损，影响再次租赁等），为保证依法依约提起诉讼主张权利的诉讼文书及时、准确送达给乙方本人（本公司）。乙方确认的送达地址、系本人（本公司）真实意思表示。本人（本公司）确认的上述地址不真实、不准确（包括但不限于地名变更、地址被拆迁、确认的地址中无人签收文书等情形），导致人民法院的相关文书未能实际由本人（本公司）签收，视同本人（本公司）已收到人民法院寄送的相关文书。邮件退回之日，视为送达之日。</p>
    <p>本人（本公司）承诺如变更上述送达地址的，将在5个工作日内书面或邮件通知更改送达地址；若因本人（本公司）未及时书面通知和更改确认书，导致人民法院的相关文书未能实际由本人（本公司）签收，将视同本人（本公司）已收到甲方或者人民法院寄送的相关文书。邮件退回之日，视为送达之日。</p>
    <p>本人（本公司）对人民法院寄送的相关文书，将诚实收取；若人民法院按上述地址寄送相关文书，本人（本公司）或本人（本公司）负责签收邮件的人员拒绝签收的，或其他不可抗力的任何原因导致相关文书退回的，将视同本人（本公司）已收到人民法院寄送的相关文书。邮件退回之日，视同送达之日。</p>

    <p style="font-weight: bold;">第十八条 其它</p>
    <p>18.1 若本协议部分内容被认定无效，不影响其他部分效力，其他部分仍然有效 ，各方须继续履行。</p>

    <p>&nbsp;</p>
    <p>甲方：<span th:text="${shopName}"></span></p>
    <p>签约日期：<span th:text="${createTime}"></span></p>


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>乙方：<span th:text="${userName}"></span></p>
    <p>签约日期：<span th:text="${createTime}"></span></p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>丙方：<span th:text="${platformName}"></span></p>
    <p>签约日期：<span th:text="${createTime}"></span></p>

</div>


</body>
</html>