<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        .layout{
            font-family: SimHei;
        }
    </style>
    <title>Title</title>
</head>
<body>
<div class="layout">
    <h1 style="text-align: center;">手机店合作协议</h1>
    <p style="text-align: center;padding: 50px 0;">签订地点：<span th:text="${signAddress}"></span></p>
    <p style="text-align: center;margin-top: 30px;">甲方：<span th:text="${name}"></span></p>
    <p style="text-align: center;">乙方：<span th:text="${platformEnterpriseName}"></span></p>


    <p style="margin-top: 100px;">甲方：<span th:text="${name}"></span></p>
    <p>营业执照注册号：<span th:text="${businessLicenseNo}"></span></p>
    <p>联系人：<span th:text="${contactName}"></span></p>
    <p>联系电话：<span th:text="${contactTelephone}"></span></p>


    <p>乙 方：<span th:text="${platformEnterpriseName}"></span></p>
    <p>营业执照注册号： <span th:text="${platformLicenseNo}"></span></p>
    <p>联系人：<span th:text="${platformContactName}"></span></p>
    <p>联系电话：<span th:text="${platformContactTelephone}"></span></p>
    <p>地址：<span th:text="${platformAddress}"></span></p>

    <p>甲、乙双方依据《中华人民共和国民法典》及相关法律法规的规定，本着平等互利原则达成如下长期合作协议内容，供双方共同遵照执行</p>

    <p>第一条 总则</p>
    <p>甲、乙双方经友好协商，本着诚信、平等、自愿、互惠互利的原则，发挥自身资源优势，共同开展线上线下结合的信用租赁/分期/售卖业务，为推动双方共同事业的繁荣和发展并根据中华人民共和国有关法律、法规的规定签订本协议，由双方共同遵守。</p>
    <p>本协议中的甲方代指的是申请并成功入驻租物平台的第三方租赁商户；乙方代指的是杭州布布信息技术有限公司。对于甲方申请认证入驻乙方旗下的“租物平台”成为平台的第三方租赁商，即视为对本服务协议各条款的完全理解和接受：</p>

    <p>第二条 合作内容</p>
    <p>1、甲乙双方在资源共享和共赢的基础上进行合作。</p>
    <p>2、通过租物平台、支付宝租赁小程序以及相关线上线下渠道在全国范围内进行信用租赁/分期业务推广。</p>
    <p>3、合作期限自<span th:text="${start}"></span>起<span th:text="${end}"></span>止。服务期满后，若不存在本协议所约定的协议终止情形，任意一方未提出书面异议，则甲乙双方自动顺延一年。</p>
    <p>服务期满后，乙方仍需保留甲方所有在租订单信息给予甲方查核，甲方仍能登录后台操作并正常结算，直至甲方所有订单租期完结为止，但甲方不得再从事新的租赁订单业务，也不得再上架任何新的租赁产品或租赁订单，同时在不影响甲方在租订单结算的前提下，乙方有权下架甲方的所有产品。</p>


    <p>第三条 双方权利义务</p>
    <p>1、甲方的权利与义务</p>
    <p>1.1按约定的比例获得租金收入，拥有出租设备所有权和残值处理权。</p>
    <p>1.2甲方应遵守乙方平台规则。</p>
    <p>1.3收到乙方发送的订单信息后，甲方负责订单发货，保证租户收到设备后能正常使用。</p>
    <p>1.4租赁期间，所租设备自然损坏均由甲方负责维修或者更换处理，甲方须按统一的服务标准对待租户。负责设备发货后售后问题，租赁期满后负责回收设备和残值处置等。</p>
    <p>1.5在租户咨询过程中，协助乙方工作人员回答租户相关技术问题。</p>
    <p>1.6甲方有权利对乙方的业务推广过程中进行检查和监督。如果乙方有不符合本协议规定的行为，甲方有权终止合作。</p>
    <p>1.7甲方负责向租户开具增值税普通发票/增值税专用发票（半年为周期，默认租金不含税，甲方须在方案注明是否含税）。</p>
    <p>1.8甲方向乙方提供设备租赁价格及配置，价格调整时须及时告知乙方。</p>
    <p>1.9甲方需保证供应量，库存缺货的需提前5天通知乙方。</p>
    <p>1.10甲方必须保证所出租的产品来源合法，不存在侵犯第三方权益的行为，包括不限于专利、品牌、图片、文字、影音等。</p>
    <p>2、乙方的权利与义务</p>
    <p>2.1乙方按约定比例获得租金分成。</p>
    <p>2.2根据甲方提供的产品资料设计租赁方案，上架产品，上线支付宝端，在全国范围展示产品，上线产品型号、租金、押金、租期等等租赁关键要素的建议权。</p>
    <p>2.3乙方负责产品线上线下推广，提供交易后台以及风控工具。</p>
    <p>2.4对于大额订单需要甲方业务员跟进的，乙方明确设备型号、数量、价格、配送时间、软件需求、客户信息后告知甲方，甲方安排业务人员协助跟进。</p>
    <p>2.5租户订单通过风控体系后，乙方按照要求的样式将租户订单信息及时发送给甲方或指定一方或提醒甲方及时处理订单。</p>
    <p>2.6若甲方未能向租户提供质量保证和租后服务保障，或甲方设备存在严重缺陷导致租户投诉，乙方有权终止合作。</p>
    <p>2.7在甲方处理订单不及时的情况下，乙方有权代表甲方处理订单，包括但不限于审核订单、用户退款处理等，乙方的处理下行为视为甲方行为。</p>
    <p>2.8乙方开展的涉及甲方的优惠等活动，需提前通知甲方，并征得甲方同意后开展。</p>

    <p>第四条 合作佣金</p>
    <p>1、甲方获得订单租金收入的<span th:text="${shopRate}"></span>（含续租），乙方获得订单租金收入的<span th:text="${platformRate}"></span>（含续租），佣金收入分配调整和特殊活动佣金另外以邮件形式约定。</p>
    <p>2、消费者通过乙方平台支付甲方设备的买断尾款，甲方应当按照其与消费者买断尾款价格的6%额外向乙方支付该设备的买断费佣金；消费者通过乙方平台直接购买甲方商品，甲方应当按照其与消费者实际支付的金额的3.5% 向乙方支付该设备的购买费佣金，该费用在甲方向乙方申请提现时，一并结算、支付。</p>
    <p>3、租户所支付的租金/购买费由乙方代收，租户按月支付租金则甲乙双方按月获得收益；租户支付每一笔租金后，每周五/周六结算当期租金至甲方在租物平台的账号，若用户累计支付租金达到3期，乙方将在当期结算时结算整个租期内的佣金，结算后，乙方从用户的租金中扣除或向甲方另行收取；</p>
    <p>4、乙方获得的订单租金收入，可开具同等金额的服务费用发票给甲方。</p>


    <p>第五条 风险声明</p>
    <p>1、甲方理解并确认，乙方平台基于芝麻信用、第三方风控大数据以及自身风控策略输出的免押额度等仅供甲方参考，平台本着审慎的态度，平台不做任何明示或暗示的保证、担保，平台无需就甲方使用平台免押额度所做出的任何判断、决策、行为引发或导致的结果承担责任。甲方进驻平台应确保接受上述免责声明，且不得在任何情形下向平台主张责任。</p>
    <p>2、在发生订单逾期时，乙方将积极配合、协助甲方进行追缴，包括不限于提供租户信息、线下资源、法律咨询等。</p>

    <p>第六条 甲方承诺</p>
    <p>1、保证经营合法，租赁的产品拥有合法来源；</p>
    <p>2、诚信经营，不得存在欺诈行为，不得故意隐瞒租赁产品的缺陷等；</p>
    <p>3、不得威迫、诱导租户做出不真实的评价；</p>
    <p>4、不得恶性竞争，价格明显低于所在地区行业平均水平；</p>
    <p>5、不得使用暴力、污秽、侮辱等评价词语，不得带有攻击、诽谤他人；</p>
    <p>6、提供的入驻材料真实有效，并且在入驻材料变更时14日内向平台提供书面说明。</p>
    <p>7、用户订单出现商品不归还、分期账单逾期不支付时，甲方不得暴力催收，包括但不限于辱骂、威胁用户，也不得殴打用户等，甲方如因暴力催收等非法行为导致的任何后果，均由甲方自行承担，与乙方无关。</p>

    <p>第七条、违约责任：</p>
    <p>1、因违约方行为致使守约方及/或其关联公司遭受损失（包括但不限于自身的直接经济损失、商誉损失及对外支付的赔偿金、律师费、诉讼费等间接经济损失），违约方应承担上述全部损失之赔偿责任。</p>
    <p>2、甲方发生违反本合同及相关交易规则的情形时，或甲方有任何费用未支付乙方的，乙方有权下架甲方全部或部分产品，甲方产品下架后，乙方仍需保留甲方所有在租订单信息给予甲方查核，甲方仍能登录后台操作并正常结算，直至甲方所有订单租期完结为止。</p>
    <p>3、以下情形为严重损害乙方的情形，乙方可视情节严重性终止和甲方的合作：</p>
    <p>3.1明示或暗示消费者通过其他方式转移其可以通过乙方平台在线达成的交易，或达成交易后通过其他渠道收取交易款的；提供质量不合格产品致消费者人身损害的。</p>
    <p>3.2若甲方未能向租户提供质量保证和租后服务保障，或甲方设备存在严重缺陷导致租户多次投诉，甲方多次整改无果；其他乙方认为甲方涉嫌违规或者违约的行为。</p>
    <p>3.2甲方恶意拖欠乙方款项，并在5个工作日内拒不还款的。</p>
    <p>以上违约行为，乙方有权下架甲方商品并根据情节严重情况另做处理。后续违约情况以乙方平台公告为准。</p>

    <p>第八条 保密义务</p>
    <p>1、甲乙双方均应充分保守本合同所涉及的对方及其第三方的商业秘密，包括但不限于经营信息、生产信息、技术信息、财务信息、合作方式、利益分享方案等。</p>

    <p>第九条 法律适用、管辖和争议解决</p>
    <p>1、本协议根据中华人民共和国的法律签订，其解释和执行也适用中华人民共和国的相关法律、法规和规章。</p>
    <p>2、 因解释和执行本协议所发生的一切争议，以及与本协议相关的一切争议，由双方友好协商解决。未能协商一致解决的，提交乙方所在地有管辖权法院解决。</p>

    <p>第十条：通知及送达</p>
    <p>1、商家确认其在商家注册时提供的联系地址和联系方式为真实的、有效的、完整的，且所提供的联系地址和联系方式作为平台通知商家的有效途径。如因联系地址或联系方式错误无法送达的，商家应承担由此产生的相关不利后果。</p>
    <p>平台联系地址和联系方式详见平台公示内容，或者联系平台客服获取。</p>
    <p>2、一方发给另一方的与本协议有关的通知应以书面形式送达，或以传真、电报、电传、电子邮件等发送。以传真、电报、电传或电子邮件发送的，发送当日为送达日，以邮资预付的挂号信件，特快专递寄送的，签收日为送达日。</p>
    <p>3、甲方为商家，其具体信息以商家注册时提交给租物租平台后台审核身份信息为准。如遇信息变更，商家身份信息以商家最新申请修改并经平台审核通过留存于平台系统的信息为准。商家应确认其提交给租物租平台的信息应为真实、有效、合法的，包括但不限于营业执照、法定代表人身份信息、联系地址、联系电话、银行账户、支付宝账户等。</p>

    <p> 第十一条 双方来往账户：</p>
    <p>甲方：<span th:text="${name}"></span></p>
    <p>支付宝账户名：<span th:text="${zfbName}"></span></p>
    <p>支付宝账号：<span th:text="${zfbCode}"></span></p>

    <p>乙方：<span th:text="${platformEnterpriseName}"></span></p>
    <p>开户行：<span th:text="${platformBank}"></span></p>
    <p>银行账号：<span th:text="${platformBankCardNo}"></span></p>
    <p>支付宝账号：<span th:text="${platformAlipay}"></span></p>


    <p>第十二条  其他</p>
    <p>本《电子签约效力确认协议》（简称“本协议”）是由您（<span th:text="${userName}"></span>）与<span th:text="${platformEnterpriseName}"></span>公司（简称“本公司”）签署，本公司系<span th:text="${platformName}"></span>平台（以下简称“本平台”、“平台”）的运营方。请您在通过本平台使用电子签名服务前，请您务必认真阅读并充分理解本协议的全部内容，您通过网络页面点击、勾选或以其他方式选择接受本协议，如您不同意本协议的内容，或无法准确理解本协议任何条款的含义，请不要进行确认及后续操作。一旦确认即视为您同意本协议的全部内容。如果您对本协议有疑问的，请通过<span th:text="${platformContactTelephone}"></span>进行询问，其将向您解释。</p>
    <p>1、您授权并同意，平台可将本人的身份信息资料提交给第三方电子签名机构以及第三方CA认证机构，用于平台及第三方电子签名服务平台账户注册、账户管理、实名认证、数字证书申请、电子签约等电子签名服务目的。</p>
    <p>2、您同意本平台采用电子合同的方式在本平台与您订立协议，该协议可以有一份或者多份并且每一份具有同等法律效力。您根据有关协议及本网站的相关规则在本网站确认签署的电子合同即视为您本人真实意愿并以您本人名义签署的合同，具有法律效力。</p>
    <p>3、本人在此不可撤销的授权，平台可通过以下方式接受来自本人的签约指令：本人通过平台向第三方电子签名服务平台申请实名认证时提供的本人手机号向平台发送的信息（验证码、短信或电话等）回复，或通过本人的账号及密码登录平台后确认所签署的电子合同，或本人在平台上对电子签名的其他签约调用请求。平台可基于本人的签约指令，以您本人的名义，向第三方电子签名服务机构申请由CA机构生成的数字证书，并协助您在本平台调用您的电子签章完成与 服务相关协议实质内容相同的电子文件的签署，本人认可通过上述方式签署电子合同对各方具有法律约束力，本人承诺对平台执行上述指令产生的全部负责。</p>
    <p>4、您应妥善保管自己的账户密码以及手机验证码等账户信息，如因账户密码或手机验证码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务的，本人愿意承担因此产生的所有责任，并放弃追究我司或我司委托的第三方合作机构以及CA机构法律责任的权利。</p>
    <p>5、以上授权期限自本人在平台的业务终止或本人书面通知终止授权之日止。</p>
    <p>6、您认可您在签订电子合同过程中提交的实名认证资料，并认可因上述操作产生的电子证据；若因合同履行产生纠纷，您认可本协议签订过程中产生的电子证据可直接作为纠纷处理依据。</p>
    <p>7、双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均可向甲方所在地有管辖权的人民法院或丙方所在地有管辖权的人民法院提起诉讼。</p>
    <p>8、本合同经甲方（商家）在租物商家管理后台注册后生效。</p>

    <div style="margin-top: 60px;margin-bottom: 60px">
        <p>甲方（盖章）：</p>
        <p>法定代表人或授权代表：<span th:text="${userName}"></span></p>
        <p><span th:text="${createTime}"></span></p>
    </div>


    <p>乙方（盖章）：</p>
    <p>法定代表人或授权代表：<span th:text="${platformContactName}"></span></p>
    <p><span th:text="${createTime}"></span></p>
</div>


</body>
</html>